<code-article>
  <header>
    <h1>Events</h1>
    <p>
      The CSSS runs a combination of regular and yearly events. From meetings to Hackathons, we try
      and make sure there's something for everyone. We send out reminders through email, on our
      <cs-external-link key="discord"></cs-external-link>
    </p>
  </header>
  <h2>Regular Events</h2>
  <section>
    <h3>General Meetings</h3>
    <p>
      The CSSS holds general meetings every two weeks to keep their members informed about what's
      going on and what's coming up. These meetings are a great way to stay up to date on any
      changes that may affect you. They are also your chance to learn more about what the Executive
      team does, how you can get involved and make sure your voice is heard.
    </p>
  </section>
  <section>
    <h3>Events Committee Meetings</h3>
    <p>
      The CSSS holds event committee meetings every two keeps to plan and discuss events. If you're
      interested in the logistics of how events are done or want to be a part of the committee this
      is a great place to do it.
    </p>
  </section>
  <section>
    <h3>Board Game Nights</h3>
    <p>
      If meetings aren't exciting enough for you, join us for boardgame nights! Every other Friday
      we book
      <cs-external-link key="boardgameRoomMap" label="TASC 9204"></cs-external-link>
      , pull out a few board games and give out <strong>FREE FOOD</strong>. If you're down for some
      Friday night fun, then pull up, sit down, and, maybe, just maybe, the Executives will serenade
      you with karaoke.
    </p>
  </section>
  <h2>Yearly Events</h2>
  <section>
    <h3>Frosh Week</h3>
    <p>
      Frosh Week runs during the first week of September and is our way of welcoming the new members
      of our program. If you just became a Computing Science student then don't miss this event.
      You'll learn a lot about our program, meet the people who are about to embark on the same
      journey as you and get rammed.
    </p>
  </section>
  <section>
    <h3>Tech Fair</h3>
    <p>
      Tech Fair is our way of bringing the tech scene of the Greater Vancouver area to you. Did you
      know that there are other companies in Vancouver beyond Amazon, Microsoft, SAP and EA? This is
      a great opportunity for you to mingle with your future co-workers and learn see why Vancouver
      is considered the Silicon Valley of the North.
    </p>
  </section>
  <section>
    <h3>Fall Hacks</h3>
    <p>
      Fall Hacks is our Fall term Hackathon which pits teams against each other for a 12 hour
      sprint. If you're looking to get a taste of what software development is like then sign up, no
      experience necessary!
    </p>
  </section>
  <section>
    <h3>Mountain Madness</h3>
    <p>
      Mountain Madness is our Spring term Hackathon which pits teams against each other for a 24
      hour marathon. If you liked Fall Hacks then you're statistically going to like Mountain
      Madness twice as much.
    </p>
  </section>
  <section>
    <h3>Silicon Valley Trip</h3>
    <p>
      Join us on our pilgrimage to Silicon Valley, the birthplace of technology. Every year, a group
      of us head down to California to see the sights and visit a bunch of tech companies. This is
      definitely an educational trip and not just a way to collect stickers for your laptop.
    </p>
  </section>
</code-article>
