@use 'globals' as g;

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%), 1fr));
  justify-items: center;
  gap: 2rem;
}

.card {
  display: flex;
  justify-content: center;

  &__frame {
    width: max(300px, 100%);
    position: relative;
  }

  &__img {
    width: 300px;
    aspect-ratio: 3 / 4;
    box-shadow: 10px 5px 5px black;
  }

  &__info {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
  }

  &__name {
    background-color: black;
  }

  &__position {
    background-color: black;
  }
}
