@use 'globals' as g;

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;

  &__frame {
    width: max(300px, 100%);
    position: relative;
  }

  &__img {
    width: 300px;
    aspect-ratio: 3 / 4;
    box-shadow: 10px 10px 5px black;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    position: absolute;
    bottom: 0.75rem;
  }

  &__text {
    padding: 0.5rem;
    background-color: g.$accent2;
  }
}
