@use 'globals' as g;

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(17rem, 100%), 1fr));
  justify-items: center;
  gap: 1.8rem;
}

.card {
  display: flex;
  justify-content: center;
  position: relative;
  width: fit-content;

  box-shadow: 10px 5px 5px black;

  &__img {
    max-width: 100%;
  }

  &__info {
    text-align: center;
    position: absolute;
    bottom: 1rem;
  }
}
