<code-article>
  <h1>Officers</h1>
  <p>Executives are voted in by everyone in the CSSS and serve for a year.</p>
  <p>
    The exceptions to this are the <strong>Executives at Large</strong>, who are elected for just
    <strong>one semester</strong>
  </p>
  <div class="timeline" #timeline>
    @for (year of yearsToDisplay(); track $index) {
      <div class="timeslot clickable" (click)="lineClicked(year)">
        <div class="time-label">{{ year }}</div>
        <div class="line"></div>
      </div>
    }
  </div>

  <h2>Executives for {{ displayExecs().startYear }} - {{ displayExecs().endYear }}</h2>
  <section class="gallery">
    @for (exec of displayExecs().members; track $index) {
      <code-card class="front" backgroundImage="images/{{ exec.photoUrl }}" #execCard>
        <div class="footer-container" ngProjectAs="card-footer">
          <h3>{{ exec.name }}</h3>
          <h4>{{ exec.position }}</h4>
        </div>
      </code-card>
    }
  </section>
</code-article>
