@use 'globals' as g;

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

code-card {
  display: block;
  width: clamp(9rem, 15%, 25rem);
  aspect-ratio: 1 / 1.5;
}

.footer-container {
  backdrop-filter: blur(5px);

  h3,
  h4 {
    @include g.no-select;
    width: fit-content;
    text-shadow: 0 0 15px black;
  }

  h3 {
    margin-bottom: 0;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.timeline {
  display: flex;
  column-gap: 0.2rem;
  width: 100%;

  &>.timeslot {
    flex: 1 0 auto;

    &>.time-label {
      text-align: right;
    }

    &>.line {
      min-width: 6rem;
      height: 0.2rem;
      background-color: aquamarine;
    }
  }
}
