@use 'globals' as g;
@use 'theme' as t;

.timeline {
  display: flex;
  column-gap: 0.2rem;
  width: 100%;
  margin-bottom: 2rem;

  & > .timeslot {
    flex: 1 0 auto;

    & > .time-label {
      text-align: right;
    }

    & > .line {
      min-width: 6rem;
      height: 0.2rem;
      background-color: aquamarine;
    }
  }

  & > .timeslot[aria-selected='true'] > .line {
    box-shadow: 0 0 10px 3px aquamarine;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
  gap: 1.8rem;
}

.gallery code-card {
  display: grid;
  width: 100%;
  aspect-ratio: 1 / 1.5;
  grid-template-rows: auto auto;
}

code-card > img {
  width: 100%;
  object-fit: contain;
}

.card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;
  padding: 0.3rem;

  background-color: t.$bg3;
}
