<code-article>
  <header>
    <h1>Officers</h1>
    <p>The Executives at the CSSS are here to represent the Computing Science program at SFU.</p>
    <p>
      They're here to plan events, create an inclusive community, and provide resources to the
      students they represent.
    </p>
    <p>
      Find them hanging out in the <cs-route-link key="common-room" label="Common Room" />, at one
      of our <cs-route-link key="events" label="events" />, or on
      <cs-external-link key="discord" />.
    </p>
  </header>

  <section>
    <h2>Our Executives</h2>
    <div class="gallery">
      @for (exec of currentAdministration()?.members; track exec.photoName; let i = $index) {
        <div class="card" [style.visibility]="areImagesLoaded() ? 'visible' : 'hidden'">
          <div class="card__frame">
            <img
              class="card__img"
              [ngSrc]="exec.photoName"
              width="300"
              height="400"
              [alt]="exec.photoName"
              [priority]="i < PRIORITY"
              (load)="onLoad(i)"
            />
            <div class="card__info">
              <div class="card__name">
                <strong class="card__text">{{ exec.name }}</strong>
              </div>
              <div class="card__position">
                <strong class="card__text">{{ exec.position }}</strong>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </section>
</code-article>
