<code-article>
  <header>
    <h1>Officers</h1>
    <p>Executives are voted in by everyone in the CSSS and serve for a year.</p>
    <p>
      The exceptions to this are the <strong>Executives at Large</strong>, who are elected for just
      <strong>one semester</strong>.
    </p>
  </header>
  <!-- <div class="timeline" #timeline> -->
  <!--   @for (year of yearsToDisplay(); track $index) { -->
  <!--     <div -->
  <!--       class="timeslot clickable" -->
  <!--       role="tab" -->
  <!--       [ariaSelected]="this.currentYear() === year" -->
  <!--       (click)="currentYear.set(year)" -->
  <!--     > -->
  <!--       <div class="time-label">{{ year }}</div> -->
  <!--       <div class="line"></div> -->
  <!--     </div> -->
  <!--   } -->
  <!-- </div> -->

  <code-tab-group>
    <code-tab label="Executives"><div>Content 1</div></code-tab>
    <code-tab label="Roles"><div>Content 2</div></code-tab>
  </code-tab-group>
  <section>
    <h2>Current Executives</h2>
    <div class="gallery">
      @for (exec of currentAdministration()?.members; track $index; let i = $index) {
        <code-card [bgImg]="exec.photoName" #execCard>
          <div class="card-footer">
            <h3>{{ exec.name }}</h3>
            <h4>{{ exec.position }}</h4>
          </div>
        </code-card>
      }
    </div>
  </section>
</code-article>
