:host {
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 100%;
  width: 100%;
  box-shadow: 10px 10px 5px black;
  transition: transform 0.3s ease;

  &.hoverable:hover {
    transform: scale(1.05);
  }
}
