.container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 100%;
  width: 100%;
  box-shadow: 10px 5px 5px black;
  transition:
    transform 0.3s ease;
}

.container:hover {
  transform: scale(1.05);
  z-index: 1;
}
