{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "public/admin/**/*.js",
      "options": {
        "singleQuote": false,
        "tabWidth": 4,
        "printWidth": 100
      }
    }
  ]
}
