@use 'globals' as g;
@use 'breakpoints' as b;
@use 'theme' as t;

$gradient: linear-gradient(to bottom, #1e1e1e 0%, transparent 100%);

.card-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.3rem;
  margin: 2rem 0;
}

code-card {
  width: clamp(8rem, 20vw, 15rem);
  aspect-ratio: 1 / 1;

  & img {
    width: 100%;
    object-fit: contain;
  }
}

.label-container {
  position: absolute;
  width: 100%;
  top: 0;
  text-align: center;
  background: $gradient;
}

.label {
  @include g.no-select;

  text-shadow: 2px 2px 5px black;
}

.card-footer {
  & > .link-container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.2rem;
    background-color: t.$accent;
  }
}

@media (hover: hover) {
  .label-container {
    background: none;
  }
}

@media (min-width: b.$breakpoint-small) {
  .card-gallery {
    justify-content: space-evenly;
  }

  code-card:hover .label-container {
    opacity: 1;
    background: $gradient;
  }

  .label-container {
    opacity: 0;
  }
}
