<code-article>
  <header>
    <h1>Affiliates</h1>
    <p>
      Being a Computing Science major means you'll be mingling with other disciplines and groups, so
      make sure to check them out too!
    </p>
  </header>
  <section>
    <h2>Student Societies</h2>
    <div class="card-gallery">
      @for (aff of societies; track aff.label) {
        <code-card>
          <!-- <div class="card-content" ngProjectAs="card-content"> -->
          <!--   <div class="label-container"> -->
          <!--     <p class="label"> -->
          <!--       <strong>{{ aff.label }}</strong> -->
          <!--     </p> -->
          <!--   </div> -->
          <!--   <img [src]="aff.imgName" [alt]="aff.fullName" /> -->
          <!-- </div> -->
          <div class="card-footer" ngProjectAs="card-footer">
            <div class="link-container">
              @if (aff.websiteUrl) {
                <a [href]="aff.websiteUrl"><fa-icon [icon]="websiteIcon" size="2x"></fa-icon></a>
              }
              @if (aff.discordUrl) {
                <a [href]="aff.discordUrl"><fa-icon [icon]="discordIcon" size="2x"></fa-icon></a>
              }
            </div>
          </div>
        </code-card>
      }
    </div>
  </section>
</code-article>
