@use 'globals' as g;

.affiliates {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0;
}

a {
  all: unset;
  @include g.no-select;

  width: 15vw;
  min-width: 9rem;
  aspect-ratio: 1/1;
  background-size: cover;
}

.label-container {
  display: flex;
  opacity: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.label-container:hover {
  opacity: 1;
  background: linear-gradient(to top, black 0%, transparent 100%);
}

.label {
  text-align: center;
  font-size: max(4vw, 1rem);
  align-self: flex-end;
}
