@use 'globals' as g;
@use 'breakpoints' as b;

$gradient: linear-gradient(to top, #1e1e1e 0%, transparent 100%);

.card-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.3rem;
  margin: 2rem 0;
}

a {
  @include g.no-select;

  width: 20vw;
  max-width: 15rem;
  min-width: 9rem;
  aspect-ratio: 1 / 1;
}

a:hover .label-container {
  opacity: 1;
  background: $gradient;
}

.label-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background: $gradient;
}

.label {
  text-align: center;
  font-size: max(4vw, 1rem);
  align-self: flex-end;
  text-shadow: 2px 2px 5px black;
}

@media (hover: hover) {
  .label-container {
    opacity: 0;
    background: none;
  }
}

@media (min-width: b.$breakpoint-small) {
  .card-gallery {
    justify-content: space-evenly;
  }
}
