<code-article>
  <h1>Check out our affiliates organizations</h1>
  <section>
    <div class="card-gallery">
      @for (aff of affiliates; track aff.label) {
        <a [href]="aff.url" target="_blank">
          <code-card [backgroundImage]="aff.imgName">
            <div class="label-container" ngProjectAs="card-footer">
              <p class="label">
                <strong>{{ aff.label }}</strong>
              </p>
            </div>
          </code-card>
        </a>
      }
    </div>
  </section>
  <csss-footer></csss-footer>
</code-article>
