@use '../theme' as c;

:host {
  display: flex;
  width: 100%;
  background-color: c.$bg1;
}

.tab {
  padding: 0.5em 0 1em 1em;
  padding-left: 2em;
  width: 7em;
  background-color: c.$bg4;
  color: white;
}
