<footer>
  <section class="location">
    <h3>Common Room</h3>
    <p>Applied Sciences Building 9971</p>
    <p>Simon Fraser University</p>
    <p>8888 University Drive</p>
    <p>Burnaby, BC, Canada</p>
    <p>V5A 1S6</p>
  </section>
  <section class="contact">
    <a href=""><fa-icon [icon]="facebookIcon"></fa-icon></a>
    <a href=""><fa-icon [icon]="discordIcon"></fa-icon></a>
    <a href=""><fa-icon [icon]="intagramIcon"></fa-icon></a>
    <a href=""><fa-icon [icon]="linkedinIcon"></fa-icon></a>
    <a href=""><fa-icon [icon]="emailIcon"></fa-icon></a>
  </section>
</footer>
