<code-article>
  <header>
    <h1>Elections Schedule</h1>
    <p>
      Tune in here to see upcoming or past elections (Soon &trade;) <br />
      <small>* each date shown has a deadline of 11:59PM PT, unless otherwise stated</small>
    </p>
    <section>
      <h2>Scheduled</h2>
      <div class="post">
        <h2 class="post__title">Director of Multi-Media</h2>
        <br />
        <p><strong>Nominations Deadline: </strong>December 7th, 2025</p>
        <p><strong>Election Day: </strong>December 13th, 2025</p>
        <h3 class="post__title">Duties</h3>
        <ul class="post__list">
          <li>
            Create and procure media such as advertisements, promotional material, artwork,
            photographs, etc., at the request of the Executive.
          </li>
          <li>Sit on committees as necessary, or upon request.</li>
        </ul>
        <hr />
        <div class="post__footer">
          <code-button label="Speeches" (click)="navigate()"></code-button>
        </div>
      </div>
    </section>
  </header>
</code-article>
