/* IBM Plex Mono */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700#display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  color: white;
}

ol,
ul {
  list-style: none;
}

b {
  color: white;
  font-weight: 700;
}

i {
  color: gray;
}

a {
  color: green;
}

s {
  color: gray;
}

.img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1ch;
}

img {
  width: calc(49ch - 2px);
  height: calc(30ch - 2px);
  object-fit: cover;
  border: 1px solid gray;
}

.hero {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__intro {
  font-size: clamp(1.5rem, 3vw, 4rem);
}

.hero__year {
  color: darkgreen;
  font-size: clamp(1.5rem, 3vw, 4rem);
}

pre {
  color: lightgreen;
  font-size: clamp(0.1rem, 1.5vw, 1rem);
  width: 100ch;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}

header {
  position: sticky;
  padding: 1rem;
  top: 0;
  z-index: 10;
  background-color: black;
}

.nav-list {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  > li {
    margin: 0 auto;
  }
}

main {
  width: clamp(20rem, 90%, 75rem);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}
