<code-article>
  <header>
    <h1>Committees</h1>
    <p>
      Want to get more involved in the CSSS community? Join a committee! Committees are extensions
      of the CSSS that focuses on a specific area of interest. They are a great way to meet new
      people, gain experience, and contribute to the CSSS in a way that aligns with your interests!
    </p> 
  </header>
  <section>
    <h2>🎉 Events Committee</h2>
    <p>
      The Events Committee meets bi-weekly to discuss and plan out the CSSS's various events such as
      hackathons, workshops, socials, etc. This committee is chaired by the current Director of
      Events (DoE), and can be attended either on Discord or in person. Send the current DoE a
      message on Discord or reach out to them via email at
      <a href="mailto:csss-doe-current@sfu.ca">csss-doe-current&commat;sfu.ca</a> to join the Events
      Committee!
    </p>
  </section>
  <section>
    <h2>🌐 W3 Committee</h2>
    <p>
      The W3 committee meets asynchronously to work on the various websites and projects for the
      CSSS such as the current website you're looking at, events pages, games, such as PacMacro, and many more. 
      This committee is chaired by both the current System Administrator (SysAdmin) and the current
      Webmaster of the CSSS, and all discussion currently takes place on Discord. Send the current
      SysAdmin or Webmaster a message on Discord or reach out to them via email at
      <a href="mailto:csss-sysadmin@sfu.ca">csss-sysadmin&commat;sfu.ca</a> or
      <a href="csss-webmaster@sfu.ca">csss-webmaster&commat;sfu.ca</a> to join the W3 Committee!
    </p>
  </section>
  <section>
    <h2>🐣 Frosh Committee</h2>
    <p>
      The Frosh Committee is assembled when planning our yearly welcome week for first-year
      Computing Science students! If you're interested in joining the Frosh Committee or volunteer
      as a Frosh Leader, reach out to our Frosh Chairs via email at
      <a href="mailto:csss-froshchair@sfu.ca">csss-froshchair&commat;sfu.ca</a>!
    </p>
  </section>
  <section>
    <h2>🌄 Multimedia Committee</h2>
    <p>
      The Multimedia Committee gets together to work on merch for the CSSS, from stickers to new
      hoodie designs, and graphics for our website! This committee is chaired by the current
      Director of Multimedia (DoMM), and all discussion currently takes place on Discord. Send the
      current DoMM a message on Discord or reach out to them via email at
      <a href="mailto:csss-domm-current@sfu.ca">csss-domm-current&commat;sfu.ca</a> to join the
      Multimedia Committee!
    </p>
  </section>
  <section>
    <h2>💻 Tech Fair Committee</h2>
    <p>
      The Tech Fair Committee is assembled when planning our yearly career fair, Tech Fair! If
      you're interested in joining the Tech Fair Committee, reach out ot our current Tech Fair
      chairs via email at <a href="mailto:csss-techfair@sfu.ca">csss-techfair&commat;sfu.ca</a>!
    </p>
  </section>
  <section>
    <h2>🔏 Policy Committee</h2>
    <p>
      The Policy Committee starts spontaneously when our constitution or policies come into
      question. If you think changes should be made, reach out to the current President or Vice
      President of the CSSS to assemble the Policy Committee and put changes into motion!
    </p>
  </section>
</code-article>
