<code-article>
  <header>
    <h1>Committees</h1>
    <p>
      Want to get more involved in the CSSS community? Join a committee! Committees are extensions
      of the CSSS that focuses on a specific area of interest. They are a great way to meet new
      people, gain experience, and contribute to the CSSS in a way that aligns with your interests!
    </p>
  </header>
  <section>
    <h2>🎉 Events Committee</h2>
    <p>
      The <strong>Events Committee</strong> meets bi-weekly to discuss and plan out the CSSS's
      various events such as <strong>hackathons</strong>, <strong>workshops</strong>,
      <strong>socials</strong>, etc. This committee is chaired by the current
      <strong>Director of Events (DoE)</strong>, and can be attended either on
      <cs-external-link key="discord" /> or in person. Send the current DoE a message on or reach
      out to them via email at
      <cs-email-link key="csssDoE" />
      to join the Events Committee!
    </p>
  </section>
  <section>
    <h2>🌐 W3 Committee</h2>
    <p>
      The <strong>W3 Committee</strong> meets asynchronously to work on various websites and
      projects for the CSSS such as this <strong>website</strong>, <strong>event pages</strong>,
      <strong>games</strong>, and many more. This committee is chaired by both the current
      <strong>System Administrator (SysAdmin)</strong> and the current <strong>Webmaster</strong> of
      the CSSS, and all discussion currently takes place on <cs-external-link key="discord" />. Send
      the current <strong>SysAdmin</strong> or <strong>Webmaster</strong> a message on
      <cs-external-link key="discord" /> or reach out to them via email at
      <cs-email-link key="csssSysAdmin" /> or <cs-email-link key="csssWebmaster" /> to join the W3
      Committee!
    </p>
  </section>
  <section>
    <h2>🐣 Frosh Committee</h2>
    <p>
      The <strong>Frosh Committee</strong> is assembled when planning our yearly welcome week for
      <strong>first-year Computing Science students</strong>! If you're interested in joining the
      Frosh Committee or volunteer as a Frosh Leader, reach out to our Frosh Chairs via email at
      <cs-email-link key="csssFroshChair" />.
    </p>
  </section>
  <section>
    <h2>🌄 Multimedia Committee</h2>
    <p>
      The <strong>Multimedia Committee</strong> gets together to work on
      <strong>merch for the CSSS</strong>, from <strong>stickers</strong> to
      <strong>new hoodie designs</strong>, and <strong>graphics for our website</strong>! This
      committee is chaired by the current <strong>Director of Multimedia (DoMM)</strong>, and all
      discussion currently takes place on <cs-external-link key="discord" />. Send the current DoMM
      a message on <cs-external-link key="discord" /> or reach out to them via email at
      <cs-email-link key="csssDoMM" />
      to join the <strong>Multimedia Committee</strong>.
    </p>
  </section>
  <section>
    <h2>💻 Tech Fair Committee</h2>
    <p>
      The <strong>Tech Fair Committee</strong> is assembled when planning our yearly career fair,
      <strong>Tech Fair</strong>! If you're interested in joining the
      <strong>Tech Fair Committee</strong>, reach out to our current
      <strong>Tech Fair chairs</strong> via email at <cs-email-link key="csssTechFairChair" />.
    </p>
  </section>
  <section>
    <h2>🔏 Policy Committee</h2>
    <p>
      The <strong>Policy Committee</strong> starts spontaneously when our
      <strong>constitution</strong> or <strong>policies</strong> come into question. If you think
      changes should be made, reach out to the current
      <cs-email-link key="csssPresident" label="President" /> or
      <cs-email-link key="csssVp" label="Vice President" /> of the CSSS to assemble the
      <strong>Policy Committee</strong> and put changes into motion!
    </p>
  </section>
</code-article>
