@use 'theme';
@use 'globals' as g;

:host {
  display: grid;
  grid-template-columns: 2.5rem auto;
}

aside {
  @include g.no-select;
  font-family: g.$static-font;
  color: theme.$code-text;
  width: fit-content;

  div {
    text-align: right;
    line-height: 1.5;
  }
}

@media (min-width: g.$sm-w) {
  :host {
    column-gap: 0.5rem;
  }
}
