@use 'theme';
@use 'globals';

:host {
  display: grid;
  grid-template-columns: 2.5rem auto;
  column-gap: 0.5rem;
}

aside {
  @include globals.no-select;
  font-family: globals.$static-font;
  color: theme.$code-text;
  width: fit-content;

  div {
    text-align: right;
    line-height: 1.5;
  }
}
