@use 'globals' as g;

aside {
  display: none;
}

article {
  max-width: 75rem;
  margin: 0 auto;
  font-family: g.$article-font;
  height: fit-content;
  padding-bottom: 3rem;
  line-height: 1.5;
}

@media (min-width: g.$breakpoint-large) {
  :host {
    display: grid;
    grid-template-columns: 2.5rem auto;
    column-gap: 0.5rem;
  }

  aside {
    @include g.no-select;
    display: block;
    font-family: g.$static-font;
    color: g.$code-text;
    width: fit-content;

    div {
      text-align: right;
      line-height: 1.5;
    }
  }
}
