@use 'theme' as t;

$component: '.tab-group';
$tab-w: 7rem;
$selector-h: 3px;

#{$component} {
  &__header {
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
  }

  &__labels {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($tab-w, 1fr));
    width: 100%;
  }

  &__tab {
    min-width: $tab-w;
    width: 100%;
  }

  &__label {
    display: block;
    text-align: center;
    width: 100%;
    font-size: clamp(1.1vw, 1.4rem, 1.4vw);
  }

  &__indicator {
    height: $selector-h;
    border-bottom: 1px black solid;
  }

  &__selector {
    position: absolute;
    bottom: 0;
    height: $selector-h;
    border-bottom: $selector-h t.$accent solid;
    transition:
      left 0.3s ease,
      width 0.3s ease;
  }
}
