@use 'theme';
@use 'globals' as g;

$item-spacing: 1rem; // Padding for the activity bar items.
$act-bar-h-sm: calc($item-spacing*2 + g.$act-bar-h + 1px);

:host {
  display: flex;
  flex-direction: column;
}

button {
  all: unset;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
}

.activity-list {
  display: flex;
  height: g.$act-bar-h;
  background-color: theme.$bg1;
  gap: $item-spacing;
  padding: $item-spacing;
  border-bottom: solid 1px #1e1e1e;
}

.navbar-header {
  padding: $item-spacing 2em;
}

.navbar {
  position: absolute;
  top: $act-bar-h-sm;
  height: calc(100vh - g.$act-bar-h);
  background-color: theme.$bg3;
}

.navbar-list {
  display: flex;
  flex-direction: column;
  min-width: 16.5rem;
  row-gap: 0.25rem;
  padding: 0 0.25rem;
}

@media (min-width: g.$sm-w) {
  :host {
    display: grid;
    grid-template-columns: g.$act-bar-w min-content;
    height: 100vh;
    width: 100%;
  }

  .activity-list {
    flex-direction: column;
    height: 100%;
    border-right: solid 1px #1e1e1e;
  }

  .navbar {
    position: static;
    height: 100%;
  }
}
