<aside class="activity-list">
  <a class="act-button clickable" routerLink="/"
    ><fa-icon class="csss-logo" [icon]="csssIcon" size="2x"
  /></a>
  <div class="act-button clickable fs-icon" [class.focused]="isFileSystemOpen()">
    <fa-icon (click)="toggleFileSystem()" [icon]="copyIcon" size="2x" />
  </div>
</aside>

<aside class="navbar" [hidden]="!isFileSystemOpen()">
  <header class="navbar-header">
    {{ title() }}
  </header>
  <nav>
    <ul class="navbar-list">
      @for (entry of navItems(); track entry.key) {
        <li><code-navbar-item [entry]="entry" /></li>
      }
    </ul>
  </nav>
</aside>
