<aside id="activity-list">
  <fa-icon [icon]="csssIcon" size="2x">hello</fa-icon>
</aside>

<aside id="navbar">
  <header id="navbar-header">SFU-CSSS</header>
  <nav id="navbar-list">
    @for (entry of navItems(); track entry.key) {
        <csss-navbar-item (click)="onItemClick(entry)" [icon]="getIcon(entry)" [descriptor]="entry.descriptor"/>
      @if (entry.entries && entry.isOpen) {
        @for (child of entry.entries; track child.key) {
        <csss-navbar-item class="nav-child" (click)="onItemClick(child)" [icon]="getIcon(child)" [descriptor]="child.descriptor"/>
        }
      }
    }
  </nav>
</aside>
