<div id="activity-bar">
  <img src="static/icons/favicon_white.png" alt="">
</div>

<nav id="file-system">
  <div>SFU-CSSS</div>
  @for (entry of navItems(); track entry.key) {
      <csss-navbar-item (click)="onItemClick(entry)" [icon]="getIcon(entry)" [descriptor]="entry.descriptor"/>
    @if (entry.entries && entry.isOpen) {
      @for (child of entry.entries; track child.key) {
      <csss-navbar-item class="nav-child" (click)="onItemClick(child)" [icon]="getIcon(child)" [descriptor]="child.descriptor"/>
      }
    }
  }
</nav>
