@use '../theme';

$item-spacing: .75em;

:host {
  display: grid;
  grid-template-columns: 3.5rem min-content;
  height: calc(100vh - 2rem);
  color: white;
}

.activity-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: $item-spacing;
  background-color: theme.$bg1;
}

.navbar {
  background-color: theme.$bg3;
}

.navbar-header {
  padding: $item-spacing 2em;
}

.navbar-list {
  display: flex;
  flex-direction: column;
  min-width: 16.5rem;
  row-gap: 0.25em;
  padding-left: 0.25em;
}
