@use '../_colours.scss' as c;

:host {
  display: grid;
  grid-template-columns: 3.5rem auto;
  max-width: 20rem;
  height: calc(100vh - 2rem);
  color: white;
}

#activity-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: .75rem;
  background-color: c.$bg4;
}

#file-system {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: .75rem;
  background-color: c.$bg3;
}

.nav-entry {
  padding: 0.25em 0;

  fa-icon {
    margin-right: 0.5em;
  }
}

.nav-child {
  margin-left: 1em;
}

img {
  width: 2rem;
}
