@use 'theme';
@use 'globals';

:host {
  @include globals.no-select;
  display: block;
}

li {
  height: 100%;

  &:not([aria-disabled='true']):hover {
    cursor: pointer;
    background-color: theme.$bg0;
  }

  &[aria-disabled='true'] {
    color: gray;
    pointer-events: none;
  }
}
