$main-font: 'Inter', sans-serif;
$static-font: 'Fira Code', monospace;
$article-font: 'Montserrat', sans-serif;

$h1-font-size: clamp(1.8rem, 2.5vw, 2.2rem);
$h2-font-size: clamp(1.4rem, 2.2vw, 1.8rem);
$h3-font-size: clamp(1.2rem, 2vw, 1.4rem);
$normal-font-size: clamp(1rem, 1.4vw, 1.2rem);
