@forward 'breakpoints';
@forward 'structure';
@forward 'theme';

$main-font: 'Inter', sans-serif;
$static-font: 'Fira Code', monospace;
$article-font: 'Montserrat', sans-serif;

@mixin no-select {
  user-select: none;
  -webkit-user-select: none;
}
