@layer theme {
  h1,
  .h1 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-heading-1);
    line-height: var(--line-height-tight);
    font-family: var(--font-title);
  }

  h2,
  .h2 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-heading-2);
    line-height: var(--line-height-tight);
    font-family: var(--font-heading);
  }

  h3,
  .h3,
  h4,
  .h4 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-heading-3);
    line-height: var(--line-height-tight);
    font-family: var(--font-heading);
  }

  body,
  .text-body {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body);
    line-height: var(--line-height-normal);
    font-family: var(--font-body);
  }
}
