/**
* reset: removes unwanted browser defaults
* base: structural component styling
* theme: everything related to the CSSS branding
* components: styles that affect package components
*/
@layer reset, base, theme;

@layer base {
  :root {
    /* Spacing tokens */
    --sp-0: 0;
    --sp-1: 0.25rem;
    --sp-2: 0.5rem;
    --sp-3: 0.75rem;
    --sp-4: 1rem;
    --sp-5: 1.5rem;
    --sp-6: 2rem;
    --sp-7: 3rem;
    --sp-8: 4rem;
    --sp-9: 6rem;
    --sp-10: 8rem;

    /* Typography tokens */
    --font-body: 'Geist Mono', monospace;
    --font-navbar: 'Geist Mono', monospace;
    --font-title: 'Cal Sans', sans-serif;
    --font-heading: 'Cal Sans', sans-serif;
    --font-fancy: 'Workbench', sans-serif;

    --font-size-0: 0.75rem;
    --font-size-1: 0.875rem;
    --font-size-2: 1rem;
    --font-size-3: 1.125rem;
    --font-size-4: 1.25rem;
    --font-size-5: 1.5rem;
    --font-size-6: 2rem;
    --font-size-7: 2.5rem;
    --font-size-8: 3rem;

    --font-size-heading-1: clamp(var(--font-size-5), 6vw, var(--font-size-7));
    --font-size-heading-2: clamp(var(--font-size-4), 4vw, var(--font-size-6));
    --font-size-heading-3: clamp(var(--font-size-3), 3vw, var(--font-size-5));
    --font-size-body: clamp(var(--font-size-2), 2.5vw, var(--font-size-3));

    --line-height-tight: 1.3;
    --line-height-normal: 1.5;
    --line-height-relaxed: 1.7;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --padding-inline: 1rem;
    --site-content-width: 70rem;
    --site-breakout-width: 90rem;
    --breakout-width: calc((var(--site-breakout-width) - var(--site-content-width)) / 2);

    /* Miscellaneous tokens */
    --animation-duration-regular: 0.3s;
    --corner-radius: 10px;
    --border-radius-default: 15px;
    --border-radius-lg: 48px;
    --border-default: 1.5px solid var(--clr-surface-inverse);
    --card-grid-columns: 1;

    /* Height of the navbar header element */
    --navbar-height: 5rem;
    --navbar-height-scrolled: calc(var(--navbar-height) - 2rem);
    --navbar-z-index: 1000;
    --z-top-content: 100;

    /* Gap between sections within an article */
    --section-gap: var(--sp-8);

    /* Gap between content within a section */
    --content-gap: var(--sp-4);

    /* Colour of a link in a paragraph */
    --clr-link-inline: var(--clr-accent-blue);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    position: relative;
    padding-top: var(--navbar-height, 0);
    background-color: var(--csss-brand-cream);
  }

  body::before {
    content: '';
    position: absolute;
    inset: 0;
    background-position: center;
    opacity: 0.5;
    pointer-events: none;
  }

  p > a {
    color: var(--clr-link-inline);
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  :target {
    scroll-margin-top: var(--navbar-height);
  }

  .list {
    padding-left: 1rem;
  }

  .list > li {
    list-style-type: disc;
  }

  /* Allows the user to define if some content should be wider than the site content */
  .content-grid {
    --content-width: min(100% - (var(--padding-inline) * 2), var(--site-content-width));
    display: grid;
    grid-template-columns:
      [full-width-start] minmax(var(--padding-inline), 1fr)
      [breakout-start] minmax(0, var(--breakout-width))
      [content-start] var(--content-width)
      [content-end]
      minmax(0, var(--breakout-width)) [breakout-end]
      minmax(var(--padding-inline), 1fr) [full-width-end];
  }

  .content-grid > * {
    grid-column: content;
  }

  .content-grid > .breakout {
    grid-column: breakout;
  }

  .content-grid > .full-width {
    grid-column: full-width;
  }

  .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--content-gap);
  }
}

@layer theme {
  :root {
    /* CSSS brand palette */
    /* Don't override these in the sites */
    --csss-brand-black: hsl(0, 0%, 0%);
    --csss-brand-cream: hsl(55, 71%, 97%);
    --csss-brand-selago: hsl(235, 76%, 97%);
    --csss-brand-teal: hsl(167, 56%, 38%);
    --csss-brand-blue: hsl(240, 100%, 28%);
    --csss-brand-pink: hsl(357, 98%, 74%);
    --csss-brand-red: hsl(358, 98%, 62%);
    --csss-brand-grey: hsl(0, 0%, 27%);

    /* Color tokens */
    --clr-surface-base: var(--csss-brand-cream);
    --clr-surface-inverse: var(--csss-brand-black);

    --clr-text-primary: var(--csss-brand-black);
    --clr-text-inverse: var(--csss-brand-cream);

    --clr-surface-hover: var(--csss-brand-black);
    --clr-accent-blue: var(--csss-brand-blue);
    --clr-accent-blue-fg: var(--csss-brand-cream);
    --clr-accent-pink: var(--csss-brand-pink);
    --clr-accent-pink-fg: var(--csss-brand-cream);
    --clr-accent-red: var(--csss-brand-red);
    --clr-accent-red-fg: var(--csss-brand-cream);
    --clr-accent-teal: var(--csss-brand-teal);
    --clr-accent-teal-fg: var(--csss-brand-cream);

    --clr-border-default: var(--csss-brand-black);
  }

  .chip {
    padding-inline: 0.75rem;
    padding-block: 0.25rem;
    border: var(--border-default);
    border-radius: var(--border-radius-default);
  }

  .chip--red:hover {
    color: var(--clr-text-inverse);
    background-color: var(--clr-accent-red);
  }

  .chip--blue:hover {
    color: var(--clr-text-inverse);
    background-color: var(--clr-accent-blue);
  }

  .chip--pink:hover {
    color: var(--clr-text-inverse);
    background-color: var(--clr-accent-pink);
  }

  .chip--teal:hover {
    color: var(--clr-text-inverse);
    background-color: var(--clr-accent-teal);
  }

  .chip--black:hover {
    color: var(--clr-text-inverse);
    background-color: var(--clr-surface-inverse);
  }

  .brand--red {
    color: var(--clr-text-inverse);
    background-color: var(--clr-accent-red);
  }

  .brand--blue {
    color: var(--clr-text-inverse);
    background-color: var(--clr-accent-blue);
  }

  .brand--pink {
    color: var(--clr-text-inverse);
    background-color: var(--clr-accent-pink);
  }

  .brand--teal {
    color: var(--clr-text-inverse);
    background-color: var(--clr-accent-teal);
  }

  .brand__border {
    border: solid var(--clr-border-default);
    border-width: 1px 4px 4px 1px;
    border-radius: var(--border-radius-default);
  }
}
