body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

main {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #212121;
}

img {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
  object-fit: contain;
}

h1 {
  font-family: 'Poppins', 'sans serif';
  color: white;
  text-align: center;
  font-size: clamp(2rem, 5vw, 3rem);
}
