<code-article>
  <header>
    <h1>Nominees</h1>
    <p>Check out the candidates for the 2026 General Election.</p>
    <p>Voting starts on <strong>March 30</strong> and ends <strong>11:59PM on April 9</strong></p>
    <section class="nominees">
      @for (entry of positionEntries; track entry.key) {
        <h2>{{ entry.key }}</h2>
        @for (candidate of entry.value; track $index) {
          <div class="nominee">
            <h2 class="nominee__name">> {{ candidate.name }}</h2>
            <p class="nominee__speech">{{ candidate.speech }}</p>
          </div>
        }
      }
    </section>
  </header>
</code-article>
