@use '../theme.scss';
@use '../../../styles/globals' as g;

:host {
  display: grid;
  grid-template-columns: 2.5rem auto;
  column-gap: 0.5rem;
}

aside {
  color: theme.$code-text;

  div {
    text-align: right;
    line-height: 1.5;
  }
}
