@use 'globals' as g;

.wrapper {
  height: 96vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;

  & > h1 {
    text-align: center;
    font-size: clamp(2rem, 4vw, 4rem);
  }

  & > .mural {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%);
    transform: translateZ(-10px) scale(2);

    // Blends the bottom into the grey area
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }

  & > fa-icon {
    font-size: clamp(2rem, 3vw, 15rem);
    position: absolute;
    bottom: 30vh;
    filter: drop-shadow(0px 2px 5px black);
  }
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh auto 0;
  z-index: 10;
  max-width: 60rem;

  & > section {
    margin-bottom: 5rem;
    width: 90%;
  }

  & > .pres-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 1rem 5rem;

    & > .pres-image-container {
      width: 80%;
      max-width: 20rem;
      flex: 0 0 auto;
      margin: 0 auto;

      & > img {
        max-width: 100%;
        height: auto;
        display: block;
      }
    }

    & > .pres-content {
      flex: 1 1 25rem;

      & > h2 {
        margin-top: 0;
      }
    }
  }

  & > .nav {
    & > nav {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(min(26rem, 100%), 1fr));
      place-items: center;
      height: 100%;
      width: 100%;
      gap: 1rem;

      & > a {
        @include g.no-select;
        width: clamp(15rem, 90%, 26rem);
        aspect-ratio: 5 / 3;

        & h2 {
          background-color: black;
          margin: 0;
          position: absolute;
          bottom: 0.5rem;
        }
      }
    }
  }
}

.type-in {
  display: block;
}
