<div class="wrapper">
  <header>
    <img class="mural" src="images/mural.png" alt="Mural" />
    <h1>
      Welcome to the
      <div class="type-in" #typeIn>Computing Science Student Society</div>
    </h1>
    <fa-icon [icon]="arrowIcon" animation="bounce"></fa-icon>
  </header>

  <article class="content">
    <section>
      <h2>History</h2>
      <p>
        Since its founding in the 1970s, the Computing Science Student Society has existed to
        promote the interests of students within the School of Computing Science at Simon Fraser
        University. The Society strives to support and build a vibrant community of individuals and
        create an environment that produces social, academic, and professional success. The CSSS
        continues this tradition today by running numerous social events throughout the school year,
        as well as hosting workshops, talks by industry speakers, and development contests for
        budding programmers.
      </p>
    </section>
    <section class="pres-container">
      <div class="pres-image-container">
        <img src="images/president-mabel.png" alt="President of the CSSS" />
      </div>
      <div class="pres-content">
        <h2>President's Address</h2>
        <p>
          Hi everyone!
          <br />
          My name is Mabel and welcome to the Computing Science Student Society! We have an amazing
          team of students here to bring you a year packed with technical events, career building
          workshops, hackathons, games nights, karaoke, hikes, and many other social events where
          you can meet like-minded people. We're here to build a strong and inclusive community, so
          there's room for everyone to share their ideas and get involved themselves! Feel free to
          say hello to myself or any of the execs if you see us on campus. We're based in ASB 9971
          where many of our community members enjoy studying, hanging out, and using our various
          amenities (ahem, coffee!). Here's to a great year and hope to see you around! <br />
          <br />
          Cheers,<br />
          Mabel Ling <br />
          CSSS President
        </p>
      </div>
    </section>
    <section class="faq">
      <h2>FAQ</h2>
      <h3>How do I become a member?</h3>
      <p>
        If you are taking a CMPT class, majoring in or minoring in Computing Science then you are
        automatically a member.
      </p>
      <h3>How can we connect with you?</h3>
      <p>
        You can find us at the <cs-route-link key="common-room" label="Common Room" /> or on
        <cs-external-link key="discord"></cs-external-link>
      </p>
    </section>
    <section class="nav">
      <nav>
        <a routerLink="/common-room">
          <code-card bgImg="images/common-room.jpg">
            <h2><strong>The Common Room</strong></h2>
          </code-card>
        </a>
        <a routerLink="/officers">
          <code-card bgImg="images/team.jpg">
            <h2><strong>Meet the officers</strong></h2>
          </code-card>
        </a>
        <a routerLink="/elections">
          <code-card bgImg="images/getinvolved.jpg">
            <h2><strong>Get involved</strong></h2>
          </code-card>
        </a>
        <a routerLink="/events">
          <code-card bgImg="images/events.jpg">
            <h2><strong>Join our events</strong></h2>
          </code-card>
        </a>
      </nav>
    </section>
  </article>
</div>
