@use 'theme';
@use 'globals' as g;
@use 'breakpoints' as b;

:host {
  display: grid;
  grid-template-rows: min-content auto 1fr #{g.$status-line-h};
  height: 100%;
}

#outlet {
  background-color: theme.$bg4;
  overflow: auto;
}

#status-line {
  height: 1rem;
  background-color: theme.$accent;
}

/* Change the grid layout when we hit a certain size. */
@media (min-width: b.$breakpoint-small) {
  :host {
    grid-template-columns: min-content auto;
    grid-template-rows: #{g.$tab-bar-h} auto #{g.$status-line-h};
  }

  #outlet {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: theme.$bg4;
  }

  csss-navbar {
    grid-row: 1 / 2;
  }

  csss-tabs {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  #status-line {
    grid-column: 1 / 3;
  }
}
