<aside class="activity-list" #activityList>
  <a class="<activity-list__home></activity-list__home> clickable" routerLink="/"
    ><fa-icon class="csss-logo" [icon]="csssIcon" size="2x"
  /></a>
  <div
    class="act-button clickable fs-icon"
    [class.focused]="uiService.isFileSystemOpen()"
    (click)="toggleFileSystem()"
    #toggleButton
  >
    <fa-icon [icon]="copyIcon" size="2x" />
  </div>
</aside>

<aside class="navbar" [hidden]="!uiService.isFileSystemOpen()" #navBar>
  <header class="navbar__header">SFU CSSS</header>
  <nav>
    <ul class="navbar__list">
      @for (entry of navEntries(); track entry.key) {
        <!-- This is the template of the menu item, i.e. the actual nav entry's look -->
        <code-list-item
          class="nav-entry clickable"
          [entry]="entry"
          (click)="toggleDirectory(entry.key)"
        >
          <button type="button">
            <fa-icon class="nav-entry__icon" [icon]="getDirectoryIcon(entry.isOpen)" />
            <span>{{ entry.label }}</span>
          </button>
        </code-list-item>
        @if (entry.isOpen && entry.children?.length) {
          <ul class="navbar__list">
            @for (child of entry.children; track child.key) {
              <code-list-item
                class="nav-entry clickable"
                (click)="navigate(child.link)"
                [entry]="child"
                [depth]="1"
              >
                <a>
                  <fa-icon class="nav-entry__icon" [icon]="child.icon" />
                  <span>{{ child.label }}</span>
                </a>
              </code-list-item>
            }
          </ul>
        }
      }
    </ul>
  </nav>
</aside>
