@use 'theme';
@use 'globals' as g;

$item-spacing: 1rem; // Padding for the activity bar items.
// size of the activity + tabs bar for small device widths
$header-space-sm: calc($item-spacing * 2 + g.$act-bar-h + 1px);
$border: 1px solid #1e1e1e;
$navbar-w: 20rem;

:host {
  display: flex;
  flex-direction: column;
}

.activity-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 4rem);
  align-items: center;
  height: $header-space-sm;
  background-color: theme.$bg1;
  border-bottom: $border;

  & > * {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  & > .focused {
    background-color: theme.$bg0;
  }
}

.navbar {
  position: absolute;
  top: calc($header-space-sm + 1px);
  height: calc(100vh - $header-space-sm - 1px - 1rem); // The 1 rem is from the footer
  background-color: theme.$bg3;
  border-right: $border;
  z-index: 100;
  overflow: scroll;

  &__heading {
    font-size: 1.1rem;
    font-weight: 400;
    padding: $item-spacing 2em;
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: $navbar-w;
  }
}

.nav-entry {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;

  &[aria-disabled='true'] {
    color: gray;
    pointer-events: none;
    cursor: not-allowed;
  }

  &__icon {
    margin-right: 0.5rem;
  }

  &__link {
    display: block;
    width: 100%;
  }
}

.active,
.clickable:hover {
  background-color: theme.$bg0;
}

@media (min-width: g.$breakpoint-large) {
  :host {
    display: grid;
    grid-template-columns: g.$act-bar-w min-content;
    height: calc(100vh - 1rem);
    width: 100%;
  }

  .activity-list {
    grid-template-columns: none;
    grid-template-rows: repeat(auto-fit, 4rem);
    height: 100%;
    border-right: $border;
  }

  .navbar {
    position: static;
    height: 100%;
    z-index: 100;
  }
}
