<aside class="activity-list" #activityList>
  <a class="<activity-list__home></activity-list__home> clickable" routerLink="/"
    ><fa-icon class="csss-logo" [icon]="csssIcon" size="2x"
  /></a>
  <div
    class="act-button clickable fs-icon"
    [class.focused]="uiService.isFileSystemOpen()"
    (click)="toggleFileSystem()"
    #toggleButton
  >
    <fa-icon [icon]="copyIcon" size="2x" />
  </div>
</aside>

<aside class="navbar" [hidden]="!uiService.isFileSystemOpen()" #navBar>
  <h1 class="navbar__heading">SFU CSSS</h1>
  <nav>
    <ul class="navbar__list">
      @for (entry of navEntries(); track entry.key) {
        <code-list-item [entry]="entry">
          <button class="nav-entry" type="button" (click)="toggleDirectory(entry.key)">
            <fa-icon
              class="nav-entry__icon"
              [icon]="getDirectoryIcon(entry.isOpen)"
              [fixedWidth]="true"
            />
            <span>{{ entry.label }}</span>
          </button>
        </code-list-item>
        @if (entry.isOpen && entry.children?.length) {
          <ul class="navbar__list">
            @for (subItem of entry.children; track subItem.key) {
              <code-list-item
                [entry]="subItem"
                [depth]="1"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                @if (subItem.route) {
                  <a
                    class="nav-entry"
                    (click)="navigate(subItem)"
                    [routerLink]="subItem.route"
                    [ariaDisabled]="subItem.isDisabled"
                    [class.clickable]="!subItem.isDisabled"
                    routerLinkActive="active"
                  >
                    <fa-icon class="nav-entry__icon" [icon]="subItem.icon" [fixedWidth]="true" />
                    <span>{{ subItem.label }}</span>
                  </a>
                } @else {
                  <a
                    class="nav-entry clickable"
                    [href]="subItem.href"
                    target="_blank"
                    [ariaDisabled]="subItem.isDisabled"
                  >
                    <fa-icon class="nav-entry__icon" [icon]="subItem.icon" [fixedWidth]="true" />
                    <span>{{ subItem.label }}</span>
                  </a>
                }
              </code-list-item>
            }
          </ul>
        }
      }
    </ul>
  </nav>
</aside>
