code-card h3 {
  background-color: black;
  margin: 0;
  position: absolute;
  bottom: 0.5rem;
}

section + section {
  margin-bottom: 2rem;
}

a {
  display: block;
  width: 100%;
  max-width: 25rem;
  aspect-ratio: 1.33 / 1;
}
