<code-article>
  <h1>Common Room</h1>
  <section>
    <p>
      Located on Burnaby campus in the Applied Sciences Building (ASB), the Common Room is the hub
      for all CSSS members. We strive to make the room an inclusive space and offer a bunch of
      services to support our members.
    </p>
  </section>
  <section>
    <h2>🛋️ Relax</h2>
    <p>
      The Common Room is where you can come hang out with people who are in the same journey as you.
      Come socialize, ask for help or talk about another JavaScript framework. The Common Room is
      <strong>the</strong> place to make friends and meet your future co-workers.
    </p>
  </section>
  <section>
    <h2>☕ Refresh</h2>
    <p>
      Tucked away in the side room is a kitchenette that has a <strong>fridge</strong>,
      <strong>freezer</strong>, <strong>sink</strong>, <strong>kettle</strong>,
      <strong>microwave</strong> and <strong>utensils</strong>. We also offer
      <strong>hot chocolate</strong>, <strong>tea </strong> and <strong>coffee</strong>, free of
      charge to our members! If you're grinding away at work, we also sell instant noodle cups and
      have the <strong>cheapest</strong> vending machines on campus.
    </p>
  </section>
  <section>
    <h2>📚 Review</h2>
    <p>
      The Common Room is not just a place to recharge (but we do have a bunch of outlets for you to
      use if you need it), it's also a great place to study as a group. There are several tables,
      couches, chairs and whiteboards to help you do all the homework that comes with the CS
      program. We also have an <strong>Exam Bank</strong>, a repository of past CS-related exams,
      that all our members have access to&mdash;just ask an Executive and they'll be happy to
      assist.
    </p>
  </section>
  <section>
    <h2>🌱 Regrow</h2>
    <p>
      Just outside the Common Room is a courtyard with a garden; GitHub repos are not the only thing
      we maintain! This area is great for getting some fresh air and touching grass. Discover what
      light that doesn't come from a screen feels like.
    </p>
  </section>
  <section>
    <h3>Part of WiCS?</h3>
    <p>You can access the WiCS lounge from the Common Room.</p>
  </section>
  <section>
    <h3>How do I get there?</h3>
    <p>Click the card below to find us!</p>
    <a [href]="roomFinder" target="_blank">
      <code-card backgroundImage="images/asb9971.png">
        <h3 ngProjectAs="card-footer">
          <strong>ASB 9971</strong>
          <fa-icon [icon]="externalIcon" transform="shrink-5"></fa-icon>
        </h3>
      </code-card>
    </a>
  </section>
</code-article>
