<code-article>
  <h1>Common Room</h1>
  <section>
    <p>
      Located at Applied Sciences Building (ASB) 9971, the Common Room is the hub for all CSSS
      members. Drop by and take advantage of our amenities which include...
    </p>
    <ul>
      <li>🤓 People</li>
      <li>🧊 A fridge</li>
      <li>📚 Plenty of space to "study"</li>
      <li>🧃 The cheapest vending machine on campus</li>
    </ul>
    <p>
      <br />
      <span class="right">...and many more!</span>
      <br />
      <br />
      <span class="center"
        >What are you waiting for?<br />
        Visit today!</span
      >
    </p>
  </section>
  <section>
    <a [href]="roomFinder" target="_blank">
      <code-card backgroundImage="images/asb9971.png">
        <h3 ngProjectAs="card-footer">
          <strong>ASB 9971</strong>
          <fa-icon [icon]="externalIcon" transform="shrink-5"></fa-icon>
        </h3>
      </code-card>
    </a>
  </section>
</code-article>
