a:link,
a:visited {
  color: black;
  text-decoration: none;
}

a:link:active,
a:visited:active {
  color: black;
}

nav {
  position: sticky;
  width: 100%;
  top: 0;
  padding: 1rem;
  height: 4rem;
  z-index: 10;

  background-color: #555;
  color: black;
  font-size: clamp(0.75rem, 2vw, 2rem);

  & .nav-links {
    display: flex;
    align-content: space-between;
    margin: 0;
    height: 100%;
    padding: 0;
  }

  & li {
    all: unset;
    cursor: pointer;
    flex-grow: 1;
  }


  & a {
    cursor: pointer;
    text-align: center;
  }

}

.csss-logo {
  width: clamp(2rem, 10vw, 3.5rem);
  margin: auto;
}

header {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 4rem;
  text-align: center;
  color: white;
  background-color: lightseagreen;
  z-index: 10;
  height: fit-content;

  span {
    align-self: flex-end;
    vertical-align: bottom;
    font-size: 2.1rem;
  }
}


.loading {
  backdrop-filter: blur(10px);
}

.laptop {
  position: relative;
  height: 5rem;
  bottom: 0;
}

.overlay {
  display: flex;
  place-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  color: white;
  pointer-events: none;

  background: linear-gradient(to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 100%);

  transition: background 0.1s ease;
}

.overlay-text {
  font-size: 5vw;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 10px;
  background-color: yellow;
  z-index: -1;
}

main {
  height: 1000vh;

  & article {
    position: relative;
    margin: 0 auto;
    display: grid;
    place-items: center;
    align-content: center;

    & section {
      width: max(22.5rem, 60vw);
      height: 140vh;
      /* The top padding makes sure when we jump to a section we don't undershoot. */
      padding: 20vh 1em 0;
    }
  }
}

#home {
  position: relative;

  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;

  & img {
    display: block;
    width: 22.5rem;
    height: 16.875rem;
    flex: 1 1 22.5rem;
  }

  & .content {
    flex: 1 1 calc(100% - 22.5rem);

    & h2,
    p {

      text-align: center;
      flex: 1 1 50%;
    }
  }
}
