@font-face {
  font-family: 'Questrial';
  src: url('fonts/Questrial-Regular.ttf') format('truetype')
}

:root {
  /* Breakpoints */
  --small-screen: 360px;
  --medium-screen: 768px;
  --big-screen: 1024px;

  /* Colours */
  --c-bg-header: mediumaquamarine;
  --c-bg-main: #2596be;

  /* Structure */
  --header-height: 4rem;
}

body {
  font-family: 'Questrial';
  background-color: var(--c-bg-main);
  background-image: url('./images/mountain-landscape.svg');
  background-repeat: no-repeat;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

a:link:active,
a:visited:active {
  color: black;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
}

@media(prefers-reduced-motion: no-preference) {
  .hidden {
    transition:
      opacity 2s ease,
      filter 1s,
      transform 1s
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.emphasis {
  font-size: 2rem;
  text-align: center;
}

.btn-anchor {
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
  padding: 1rem;
  background-color: pink;
  border-radius: 20px;
  box-shadow: -5px 5px black;
}

.centering {
  display: flex;
  justify-content: center;
  width: auto;
}

header {
  /* Keep this at the top of the page */
  position: fixed;
  background-color: var(--c-bg-header);
  width: 100%;
  height: var(--header-height);

  transition: top 0.5s;
  z-index: 1000;

  & img {
    width: 3rem;
    height: auto;
  }

  & nav {
    display: flex;
    padding: 0.25rem;

    & ul {
      list-style-type: none;
      flex-grow: 1;
      margin: 0;
      padding: 1rem 0 0;

      & li {
        & a {
          text-align: center;
          padding: 1rem;
        }
      }
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: calc(var(--header-height) + 5vh);
  height: 110vh;

  & p {
    font-size: max(1.5rem, 4vw);
  }

  h1 {
    font-size: max(2rem, 6vw);
  }

  & img {
    width: 30vw;
    height: auto;
  }

  & section {
    padding: 1rem;
  }
}

main {
  & article {
    display: grid;

    & section {
      padding: 5rem 10vw;
      height: 130vh;

      & .section-content {
        background-color: white;
        padding: 1rem;
        margin-bottom: 2rem;

        border-radius: 20px;
        box-shadow: -5px 5px black;
        border: 1px solid black;

        & ul,
        ol {
          padding: inherit;
          margin: 0;

          del {
            color: #5f5f5f;
          }

        }
      }
    }
  }
}

#companies {
  a {
    color: red;
  }
}

#final {
  display: flex;
  justify-content: center;
  height: 85vh;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .icons {
    display: flex;
    gap: 0.5rem;


    & .icon {
      width: 1.5em;
      height: 1.5em;
    }
  }
}
