// Old colours used for the CSSS code theme that match the VSCode theme.
// $bg1: #333333; // activity bar
// $bg3: #252526; // tab bar, file explorer

$bg0: #37373d; // file explorer hover
$bg1: #111111; // activity bar
$bg2: #2d2d2d; // unfocused tab
$bg3: #111111; // tab bar, file explorer
$bg4: #333333; // code background, focused tab
$bg5: #151515; // logo
$icon: #adadad; // activity bar icons
$code-text: #909090; // landing page text on the code section
$accent: #99f0bc; // status bar
$outline: #1e1e1e; // outline of the navbar/tabs
$hov-glow: drop-shadow(0 0 4px rgba(255, 255, 200, 0.8)); // apply to a `filter`
