:root {
	--csss-red: #e36956;
	--csss-orange: #ff9e7d;
	--csss-yellow: #ffe478;
	--csss-green: #a0c553;
	--csss-blue: #69aae8;
}

a {
	color: var(--csss-blue);
}

.csss-leading {
	position: relative;
	width: 100%;
	height: 320px;
}

.csss-leading img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 240px;
	object-fit: contain;
}

.csss-leading h1 {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	width: 100%;
	font-family: 'Rubik', sans-serif;
	font-size: 32pt;
	font-weight: 700;
	line-height: 48px;
	text-align: center;
}
