@use 'globals' as g;

button {
  @include g.no-select;
  padding: 0.5rem;
  background-color: #111111;

  transition: transform 0.1s ease;

  &:hover {
    background-color: g.$accent2;
  }

  &:active {
    transform: scale(0.95);
  }
}

fa-icon {
  color: white;
}
