@use 'theme';

.logo-frame {
  display: flex;
  justify-content: center;
  padding-top: 7rem;
}

.welcome {
  text-align: center;
  color: theme.$code-text;
}

h1 {
  font-size: 1rem;
}

fa-icon {
  font-size: 15rem;
  color: theme.$bg5;
}

nav {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
