@use '../../../ui/csss-code/theme';

:host {
  @include theme.page;
}

.logo-frame {
  display: flex;
  justify-content: center;
  padding-top: 7rem;
}

.welcome {
  display: flex;
  justify-content: center;
  color: theme.$code-text;
}

fa-icon {
  font-size: 15rem;
  color: theme.$bg5;
}
