@use 'theme';

:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  text-align: center;
  color: theme.$code-text;
  max-width: 90vw;

  h2 {
    font-size: 1.5rem;
  }

  code-button {
    color: white;
  }
}

@keyframes pulse {
  0%,
  100% {
    filter: drop-shadow(0 0 4px rgba(255, 255, 200, 0.2));
  }

  50% {
    filter: drop-shadow(0 0 8px rgba(255, 255, 200, 0.8));
  }
}

.csss-logo {
  font-size: 15rem;
  filter: drop-shadow(0 0 6px rgba(255, 255, 200, 0.4));
  animation: pulse 4s ease-in-out infinite;
}

nav {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
