@use 'theme';
@use 'globals' as g;

.label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.click-nav {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-content: start;
}

.tab {
  @include g.no-select;

  display: grid;
  grid-template-columns: 5fr 2rem;
  align-content: center;
  background-color: theme.$bg2;
  box-shadow: 0px -1px 0px theme.$outline inset;
  width: clamp(9rem, 20vw, 12rem);

  & > .x-container {
    text-align: center;
    & > button {
      &:hover {
        filter: theme.$hov-glow;
      }
    }
  }
}

.tab.focused {
  background-color: theme.$bg4;
  border: none;
  box-shadow: 0 3px theme.$accent inset;
}
