@use 'theme';
@use 'globals';

.label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tab {
  @include globals.no-select;

  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-content: center;
  background-color: theme.$bg4;
  width: clamp(9rem, 15vw, 10rem);
  height: 100%;

  button {
    place-self: center;
    margin: 0 0.3rem 0 0.2rem;
  }
}
