<code-article>
  <hgroup>
    <h1>Elections Archives</h1>
    <p>Explore the past elections and (coming soon) download data for your own analysis.</p>
  </hgroup>
  <section>
    <p-select
      [options]="selectorYears()"
      (onChange)="selectedYear.set($event.value)"
      name="year"
      placeholder="Year"
    />
    <p-select
      [options]="selectorElections()"
      [disabled]="selectorElections().length === 0"
      (onChange)="selectedElection.set($event.value)"
      optionLabel="name"
      name="name"
      placeholder="Election"
    />
    <!-- TODO: Display a graph of the selected election. -->
  </section>
</code-article>
