<!-- This is the template of the navbar item, i.e. the actual nav entry's look -->
<ng-template #item>
  @if (icon(); as i) {
    <fa-icon class="fa-fw" [style.paddingLeft.em]="depth() * 1.5" [icon]="i" />
  }
  <span>{{ label() }}</span>
</ng-template>

<!-- If the entry has a link, wrap it in an `a` tag, otherwise, use a `div`. -->
<!-- This is for semantic purposes -->
@if (entry().link) {
  <a class="nav-entry" [routerLink]="entry().link" routerLinkActive="active">
    <ng-container [ngTemplateOutlet]="item"></ng-container>
  </a>
} @else {
  <div class="nav-entry" (click)="itemClick()">
    <ng-container [ngTemplateOutlet]="item"></ng-container>
  </div>
}

<!-- Structure of items that have sub-items -->
@if (isOpen() && entry().children?.length) {
  <ul>
    @for (entry of entry().children; track entry.key) {
      <li><code-navbar-item [depth]="depth() + 1" [entry]="entry" /></li>
    }
  </ul>
}
