@use 'theme';
@use 'globals';

:host {
  @include globals.no-select;
}

a {
  display: block;
}

ul,
li {
  padding: 0;
}

.nav-entry {
  margin-bottom: 0.25em;
}

.nav-entry.active {
  background-color: theme.$bg0;
}

.nav-entry:hover {
  cursor: pointer;
  background-color: theme.$bg0;
}

fa-icon {
  display: inline-block;
  margin-right: 0.5em;
}
