@use '../../theme';

:host {
  user-select: none;
  -webkit-user-select: none;
}

.nav-entry {
  margin-bottom: 0.25em;
}

.nav-entry:hover {
  cursor: pointer;
  background-color: theme.$bg0;
}

fa-icon {
  display: inline-block;
  margin-right: 0.5em;
}
