@use '../../theme';
@use '../../../../styles/globals';

:host {
  @include globals.no-select;
}

a {
  all: unset;
  display: block;
}

ul,
li {
  all: unset;
}

.nav-entry {
  margin-bottom: 0.25em;
}

.nav-entry:hover {
  cursor: pointer;
  background-color: theme.$bg0;
}

fa-icon {
  display: inline-block;
  margin-right: 0.5em;
}
