/* You can add global styles to this file, and also import other style files */
@use 'styles/globals';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: globals.$main-font;
  color: white;
}

.clickable {
  cursor: pointer;
}

code-article>article.static {
  font-family: globals.$static-font;
  line-height: 1.5;
  height: fit-content;

  header {
    font-size: 50px;
    line-height: 3rem;
  }

  p {
    max-width: 50rem;
    margin: 1.5rem 0;
  }
}
