/* You can add global styles to this file, and also import other style files */
@use 'globals';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: globals.$main-font;
  color: white;
}

h1 {
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  all: unset;
}

a {
  all: unset;
  cursor: pointer;
}

a.csss-link {
  color: globals.$accent2;
  white-space: nowrap; // so the icons don't wrap without the link text
}

.clickable {
  cursor: pointer;
}

article.content {
  line-height: 1.5;

  hgroup,
  header {
    margin-top: 5svh;
  }

  p,
  li,
  h3 {
    font-size: globals.$normal-font-size;
  }

  h1 {
    text-align: center;
    font-size: globals.$h1-font-size;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: globals.$h2-font-size;
    margin: 1.5rem 0 0.5rem;
  }

  h3 {
    margin: 1.5rem 0 0.5rem;
    font-size: globals.$h3-font-size;
  }

  p {
    margin: 0 0 1rem 0;
  }

  section + section {
    margin-top: 2rem;
  }

  a.link {
    color: globals.$accent3;
  }
}
